# Application
SERVER_PORT=replace-with-your-app-port

# PostgreSQL
POSTGRES_DB=bank-rest-service
POSTGRES_USER=replace-with-your-db-user
POSTGRES_PASSWORD=replace-with-your-db-password
POSTGRES_HOST=replace-with-your-db-host
POSTGRES_PORT=replace-with-your-db-port

# Spring datasource
SPRING_DATASOURCE_URL=replace-with-your-db-url
SPRING_DATASOURCE_USERNAME=replace-with-your-auth0-api-audience
SPRING_DATASOURCE_PASSWORD=replace-with-your-bd-pass

# Bank card security
# Generate a real value with: openssl rand -base64 32
BANK_CARDS_PAN_HASH_SECRET=replace-this-with-a-long-random-secret

# Auth0
# Example: your-tenant.eu.auth0.com
AUTH0_DOMAIN=replace-with-your-auth0-domain
AUTH0_AUDIENCE=replace-with-your-auth0-api-audience